apiVersion: nmstate.io/v1beta1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: data-interface
spec:
  nodeSelector:
    node-role.kubernetes.io/master: ''
  desiredState:
    interfaces:
      - name: bond0
        description: Bonding on four interfaces
        type: bond
        state: up
        ipv4:
          dhcp: false
          enabled: true
        link-aggregation:
          mode: 802.3ad
          slaves:
            - ens2f0
            - ens2f1
            - ens3f0
            - ens3f1
