apiVersion: nmstate.io/v1beta1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: netapp-nfs-vlan
spec:
  nodeSelector:
    node-role.kubernetes.io/master: ''
  desiredState:
    interfaces:
      - name: bond0.672
        description: VLAN672 using bond0
        state: up
        type: vlan
        vlan:
          base-iface: bond0
          id: 672
        ipv4:
          address:
          - ip: {{ cluster_netapp_ip }}
            prefix-length: 24
          enabled: true
