apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: {{ cluster_name }}
rendezvousIP: {{ masters[0].ip }}
hosts:
{% for master in masters %}
  - hostname: {{ master.name }}
    role: master
    interfaces:
      - name: eno1
        macAddress: {{ master.mac }}
    networkConfig:
      interfaces:
        - name: eno1
          type: ethernet
          state: up
          mac-address: {{ master.mac }}
          ipv4:
            enabled: true
            address: 
              - ip: {{ master.ip }}
                prefix-length: 23
            dhcp: false
      dns-resolver:
        config:
          server:
            - {{ dns_resolver }}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ next_hop_address }}
            next-hop-interface: {{ next_hop_interface }}
            table-id: {{ table_id }}
{% endfor %}
{% for worker in workers %}
  - hostname: {{ worker.name }}
    role: worker
    interfaces:
      - name: eno1
        macAddress: {{ worker.mac }}
    networkConfig:
      interfaces:
        - name: eno1
          type: ethernet
          state: up
          mac-address: {{ worker.mac }}
          ipv4:
            enabled: true
            address: 
              - ip: {{ worker.ip }}
                prefix-length: 23
            dhcp: false
      dns-resolver:
        config:
          server:
            - {{ dns_resolver }}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ next_hop_address }}
            next-hop-interface: {{ next_hop_interface }}
            table-id: {{ table_id }}
{% endfor %}