apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: {{ cluster_name }}
rendezvousIP: {{ cluster_bootstrap_ip }}
hosts: 
{{ hosts_controlplane | to_nice_yaml }}
{{ hosts_worker | to_nice_yaml | default(omit) }}
